.menuDropdown{
    /*
    max-width: 10em;
    position: relative;
    z-index: 999;
    margin: 2em;
    margin-top: 2em;
    */
}

.menuDropdown *{
    box-sizing: border-box;
}

.select{
    background: #2a2f3b;
    color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transform: 0.3s;
}

.select-clicked{
    border: 2px orange solid;
    box-shadow: 0 0 0.8em orange;
}

.select:hover{
    background: #4e4128;
    transition: 0.3s;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid orange;
    transform: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 8px 10px;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 5px;
    color: orange;  
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: rgb(78, 65, 40);
}

.menu-open{
    display: block;
    opacity: 1;
}

a{
    text-decoration: none;
    color: orange;
}